[submodule "3rdparty/qtdbusextended"]
	path = 3rdparty/qtdbusextended
	url = https://github.com/nemomobile/qtdbusextended
[submodule "3rdparty/qtmpris"]
	path = 3rdparty/qtmpris
	url = https://git.sailfishos.org/mer-core/qtmpris
[submodule "3rdparty/taglib"]
	path = 3rdparty/taglib
	url = https://github.com/taglib/taglib
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
